@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #page {
    margin: 0 2% 0 2%;
  }
  
  body {
    font-size: 150%;
  }
  
  pre {
    overflow: auto;
    font-size: 150%;
  }
  
  #archive {
    margin: 0%;
  }
}