body {
  background: #232323;
  font:15px "Myriad Pro";
  color: black;
  margin: 0;
}

a {
  color: #4BC9FF;
}

h1 {
  color: white;
  margin-left: 25%;
  font-size: 300%;
}

article {
  color: white;
  width: 65%;
  margin-left: 25px;
  padding: 15px 30px 15px 30px;
  -webkit-border-radius: 5px;
}

article header {
  font-size: 200%;
  margin-bottom: 30px;
  font-weight: bold;
  -webkit-border-radius: 5px;
}

article pre {
  padding: 10px;
  font: 13px Inconsolata;
  background: #4BC9FF;
  -webkit-border-radius: 5px;
  color: black;
}