---
---

$coolor: #5FA8D3;
$regular-font: "Titillium Web";
$code-font: "Source Code Pro";
$line-height: 175%;


html {
  margin: 0;
  padding: 0;
}

body {
  background: #fefefe;
  font: 15pt "Titillium Web";
  color: #666;
  margin: 0;
  padding: 0;
}

a {
  color: $coolor;
}

p {
  line-height: $line-height;
}

header {
  text-align: center;
}

header a {
  text-decoration: none;
}

blockquote p, blockquote ul {
  font-size: 90%;
  color: #777;
  font-style: italic;
}

h1 {
  font-weight: bold;
  font-size: 300%;
}

hr {
  height: 0px;
  border: 1px dashed #ccc;
}

article {
  line-height: $line-height;
  padding: 15px 0 15px 0;
  -webkit-border-radius: 5px;
}

article img {
  width: 100%;
}

article h2 {
  font-size: 200%;
  margin-bottom: 30px;
  font-weight: bold;
}

article .highlight pre {
  padding: 10px;
  font: 0.7em $code-font;
  overflow: auto;
  line-height: 150%;
}

code {
  font-family: $code-font;
  color: $coolor;
}

article p code {
  color: $coolor;
  background: white;
  padding: 2px;
  font-size: 0.9rem;
}

article p a code {
  background: transparent;
  border: 0;
}


aside {
  background: #FE654F;
  color: #fefeff;
  padding: 5px 8px;
}

aside a {
  color: #fefeff;
}

.warning {
  font-size: 40px;
  font-weight: bold;
  line-height: 125%;
}

figure {
  text-align: center;
}

figure figcaption {
  font-size: 80%;
  font-style: italic;
}

#page, #header, article, #post {
  margin-left: 10%;
  margin-right: 10%;
}

#header {
  text-shadow: white 0px 2px 0px;
  line-height: 190%;
}


#archive abbr {
  float: right;
}

#archive {
  font-size: 85%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}

#archive ul {
  list-style-type: none;
}

#archive li {
  margin: 10px 0;
}

#archive h2 {
  text-align: center;
}

#recentcomments {
  padding-left: 10%;
  background: #343434;
  color: white;
}

#disqus_thread {
  margin-left: 10%;
  margin-right: 10%;
}

#dsq-post-button {
  color: white;
}

#dsq-comment-message {
  font-size: 15px;
}

#about-me img {
  margin: 25px;
  float: right;
  width: 240px;
}
