@media only screen and (max-device-width: 480px) {
  #page {
    margin: 0 2% 0 2%;
  }
  
  #header #more {
    display: none;
  }
  
  body {
    font-size: 150%;
  }
  
  pre {
    overflow: auto;
    font-size: 150%;
  }
  
  #archive {
    margin: 0%;
  }
}