<div class="two-column">
  <div>
    <h2>I am currently looking for my next contract gig.</h2>

    <p class="large">
      My current contract is with <a href='https://oculo.com.au'>Oculo</a> on a two-person team building and maintaining <a href='https://keepsight.org.au/'>keepsight.org.au</a>. This project aims to remind people with diabetes in Australia to get regular eye tests to prevent vision loss. This is a Ruby on Rails application with a frontend primarily built in Tailwind, React and TypeScript.
    </p>

    <p class="large">
      The second part of this contract is helping Oculo build a subscription billing system with Stripe to replace a manual billing process for the users of their application.
    </p>

    <p class="large">
      This contract is wrapping up on the <span class="highlight">6th August</span>, and I'll be looking for work to <span class="highlight">start 9th August</span> or
      very soon after. I'm available for <span class="highlight">up to 4 days a week</span>.
    </p>
  </div>

  <div>
    <h2>My Ideal Role</h2>

    <p class="large">
      Working on a team where I can mentor and grow the developers around me while we build applications is <em>my
        zone</em>.
    </p>

    <p class="large">
      While it's all fun and good to write the code <em>myself</em>, I definitely prefer doing that while helping upskill people around me. Be that through pair programming, writing technical documentation or reviewing their work.
    </p>

    <p class="large">
      I love writing TypeScript-powered React code, but can sling production-level code in any of TypeScript, React, GraphQL, CSS, JavaScript, Ruby, Rails, Elixir or Go.
    </p>

    <p>I care a lot about how <strong>the work gets done</strong>, from card kickoffs to retrospectives to developer tooling to deployment times. I love the approach of Kaizen: continual improvement of business processes to stream line how work is done.</p>

    <p>
      Overall: I want to help whatever team I join to ship great work and to improve ourselves and the business while we do it.
    </p>

    <h3>Want to contact me about a job?</h3>

    <p>
      If you're contacting me about a job:
      <em><strong>please include the phrase "Bravo Foxtrot Uniform"</strong></em>, just so I know that you've done your
      research. It at least lets me know you
      reached this page and read this far. I explain my reasoning for this
      <a href="/recruiters.html">over here</a>.
    </p>

    <p>
      The best way to contact me is
      <a href="mailto:me@ryanbigg.com">via email</a> or
      <a href="https://twitter.com/ryanbigg">Twitter (@ryanbigg)</a>. However,
      before you contact me please read the rest of this page.
    </p>
  </div>
</div>
