<div class="two-column">
  <div>
    <h2>I am currently looking for my next contract gig.</h2>

    <p class="large">
      I have a contracting gig that is wrapping up on the 7th of May, and I'll be looking for work to start May 10th or
      very soon after.
    </p>

    <p class="large">
      My current contract is:
    </p>

    <ul>
      <li>3-days-a-week as a TypeScript / React / Ruby developer at a small company, primarily focussed improving their frontend code, upgrading jQuery componentry to TypeScript-powered React.
        <ul>
          <li>In addition to that: I'm looking into ways to make the platform more stable by working with other developers to add additional tests, a CI system, and monitoring.</li>
          </ul>
        </ul>
        </li>
    </ul>

    <p>
      I'm available for up to 4 days a week. To get an idea of where I might fit in your company, read the remainder of
      this page to see where I've been before.
    </p>

    <h3>Past contracts</h3>

    <ul>
      <li> ✅ 2-days-a-week upgrading a Ruby on Rails application from Rails 5.0 to 6.1, and tidying up other deprecation
        messages / warnings in the build logs. </li>
    </ul>
  </div>

  <div>
    <h2>My Ideal Role</h2>

    <p class="large">
      Working on a team where I can mentor and grow the developers around me while we build applications is <em>my
        zone</em>.
    </p>

    <p>
      While it's all fun and good to write the code <em>myself</em>, I definitely prefer doing that while helping upskill people around me. Be that through pair programming, writing technical documentation or reviewing their work.
    </p>

    <p>
      I love writing TypeScript-powered React code, but can sling production-level code in any of TypeScript, React, GraphQL, JavaScript, Ruby, Rails, Elixir or Go.
    </p>

    <p>I care a lot about how <strong>the work gets done</strong>, from card kickoffs to retrospectives to developer tooling to deployment times. I love the approach of Kaizen: continual improvement of business processes to stream line how work is done.</p>

    <p>
      Overall: I want to help whatever team I join to ship great work and to improve ourselves and the business while we do it.
    </p>

    <h3>Want to contact me about a job?</h3>

    <p>
      If you're contacting me about a job:
      <em><strong>please include the phrase "Bravo Foxtrot Uniform"</strong></em>, just so I know that you've done your
      research. It at least lets me know you
      reached this page and read this far. I explain my reasoning for this
      <a href="/recruiters.html">over here</a>.
    </p>

    <p>
      The best way to contact me is
      <a href="mailto:me@ryanbigg.com">via email</a> or
      <a href="https://twitter.com/ryanbigg">Twitter (@ryanbigg)</a>. However,
      before you contact me please read the rest of this page.
    </p>
  </div>
</div>
