<div class="one-column">
  <div>
    <h2>I am not currently looking for work.</h2>

    <h3>Past contracts</h3>

    <ul>
      <li>✅ 4-days-a-week as a TypeScript / React / Ruby developer, working in a team of around 4 people.</li>
      <li>✅ 3-days-a-week as a TypeScript / React / Ruby developer at a small company, primarily focussed on improving
        their frontend code, upgrading jQuery componentry to TypeScript-powered React.
        <ul>
          <li>In addition to that: I research and implemented platform stability measures by working with other
            developers to add additional Ruby tests, a CI system, and monitoring through logging and AppSignal.</li>
        </ul>
      </li>
      <li> ✅ 2-days-a-week upgrading a Ruby on Rails application from Rails 5.0 to 6.1, and tidying up other deprecation
        messages / warnings in the build logs. </li>
    </ul>
  </div>
</div>
