<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - Ryan Bigg</title>
  <link rel="shortcut icon" href="https://ryanbigg.com/favicon.png" type="image/x-icon">
  <link href="/feed.xml" rel="alternate" title="RyanBigg.com" type="application/atom+xml" />
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Ubuntu+Mono:400,700,700i&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='/css/style.css' media='screen'>
  <link rel='stylesheet' href='/css/highlighting.css' media='screen'>
  <script src="/js/highlight.js"></script>
  <script>hljs.highlightAll();</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
  <meta content="Ryan Bigg - {{ page.title }}" property="og:title">
  {% else %}
  <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  <meta property="og:site_name" content="Ryan Bigg">
  <meta name="publish_date" property="og:publish_date" content="{{ site.time | date: '%Y-%m-%d' }}">
  {% if page.url %}
  <meta content="https://ryanbigg.com{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:description">
  {% else %}
  <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  <meta property="og:type" content="article">
  <meta property="og:image" content="https://ryanbigg.com/images/og.png">
  <meta name="twitter:image" content="https://ryanbigg.com/images/og.png" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ryanbigg">
  <meta name="twitter:creator" content="@ryanbigg">
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta content="{{ site.description }}" name="twitter:title">
  {% endif %}
</head>
