<div class="menu">
  <h1><a href='/'>Ryan Bigg</a></h1>
  <small class='desc'><small>Award-winning</small><br> Programmer / Author / Mentor</small>
  <img src='/images/me.png' />

  <ul>
    <li>
      <a href="/">Who?</a>
    </li>
    <li>
      <a href="/books">Books</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/history">History</a>
    </li>
    <li>
      <a href="/now">Now</a>
    </li>
    <li>
      <a href="/contact-me">Contact me</a>
    </li>
  </ul>
</div>
