@import "colours";

@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/styles/tomorrow.min.css";

@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/styles/tomorrow-night.min.css" screen and (prefers-color-scheme: dark);

.hljs {
  @media (prefers-color-scheme: light) {
    border-left: 4px solid $primary-color;
  }

  @media (prefers-color-scheme: dark) {
    border-left: 4px solid darken($primary-color, 10);
  }
}
