@import "colours";

html,
body {
  height: 100%;
}

body {
  font-family: "Nunito Sans";
  font-size: 14pt;
  margin: 0;

  @media (prefers-color-scheme: dark) {
    background: $background;
    color: #e3e3e3;
  }

  @media (prefers-color-scheme: light) {
    color: #232323;
  }
}

h1 {
  font-size: 3rem;
}

a {
  color: $primary-color;

  @media (prefers-color-scheme: dark) {
    color: lighten($primary-color, 20);
  }
}

.main {
  margin: 2% 7.5%;
  margin-bottom: 7.5rem;

  @media (min-width: 1000px) {
    margin: 2% 15%;
  }
}

article {
  h2 {
    font-size: 2rem;
  }

  pre {
    overflow: auto;
    line-height: 150%;
  }

  code {
    background: #eee;
    padding: 3px 4px;
    border-radius: 2px;
    font-family: "Ubuntu Mono";
    color: $primary-color;

    @media (prefers-color-scheme: dark) {
      background: #292929;
    }

    @media (prefers-color-scheme: light) {
      color: darken($primary-color, 5%);
    }
  }

  p,
  ul,
  aside {
    line-height: 1.6;
  }

  small {
    font-size: 75%;
  }

  h3 {
    font-size: 150%;
  }

  img {
    margin-left: 5%;
    margin-right: 5%;
    max-height: 66vh;
    max-width: 90%;
  }
}

.large {
  font-size: 125%;
}

.center {
  text-align: center;
}

.title {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 0.5rem;
  }
}

#books {
  .book {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 900px) {
      grid-template-columns: 2fr 1fr;
    }
    gap: 20px;
    border-bottom: 2px solid $primary-color;

    h2 {
      margin: 0;
      margin-bottom: 0.5rem;
    }

    img {
      width: 250px;

      @media (min-width: 900px) {
        width: 100%;
      }
    }
  }
}

blockquote {
  background: lighten($primary-color, 55%);
  border-radius: 10px;

  @media (prefers-color-scheme: dark) {
    background: #292929;
  }

  border-left: 8px solid $primary-color;
  font-size: 90%;
  padding: 0.66rem;
}

aside {
  border-left: 8px solid #70e8fd;
  color: #dedede;
  padding: 10px 20px;
  background: lighten(#232323, 8);

  p {
    margin: 0px;
  }

  p + p {
    margin-top: 10px;
  }

  header {
    font-size: 1.5rem;
  }
}

#archive {
  font-size: 85%;

  ul {
    padding: 0;
    list-style-type: none;

    li {
      margin: 1rem 0%;
    }
  }

  abbr {
    float: right;
  }
}

hr {
  border: 2px solid $primary-color;

  @media (prefers-color-scheme: dark) {
    border: 2px solid lighten($primary-color, 20);
  }
}

.references {
  p {
    text-indent: -1em;
    margin-left: 1em;
  }
}

.photo {
  text-align: center;

  #my-photo {
    max-height: 150px;
    border-radius: 150px;
  }
}

table {
  width: 100%;
  border: 2px solid #ccc;
  @media (prefers-color-scheme: dark) {
    border-color: #575757;
  }
  border-collapse: collapse;

  thead {
    tr {
      th {
        background: #ccc;
        @media (prefers-color-scheme: dark) {
          background: #575757;
        }
        padding: 10px;
      }
    }
  }
  td {
    border: 1px solid #ccc;
    @media (prefers-color-scheme: dark) {
      border-color: #575757;
    }
    border-collapse: collapse;
    padding: 10px;
  }
}

footer {
  color: #fefefe;

  @media (prefers-color-scheme: dark) {
    color: #262626;
  }

  font-size: 5px;
  min-height: 3rem;
  margin: 10%;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
  gap: 10rem;

  h2 {
    font-size: 250%;
    text-align: center;
  }
}

.one-column {
  margin: 0 12.5%;
}

.history {
  @extend .one-column;

  h2 {
    font-size: 250%;
    text-align: center;
  }
}
