html, body {
  height: 100%;
}

body {
  font: 13pt "Archivo";
  margin: 0;
  color: #232323;
}

h1, h2, h3, h4 {
  font-family: "Encode Sans Condensed";
}

h1 {
  font-size: 3rem;
}

a {
  color: #3CBC98;
}

.main {
  margin: 2% 7.5%;
  margin-bottom: 7.5rem;

  @media (min-width: 1000px) {
    margin: 2% 15%;
  }
}

article {
  background: white;

  h2 {
    font-size: 2rem;
    color: #484851;
  }

  code {
    font-family: "Ubuntu Mono";
  }

  p, ul {
    line-height: 1.6;
  }

  small {
    font-size: 0.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  img {
    max-width: 50%;
  }
}

.large {
  font-size: 1.25rem;
}

.center {
  text-align: center;
}

.title {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 0.5rem;
  }
}

#books {
  .book {
    border-bottom: 2px solid #3CBC98;

    img {
      float: right;
      max-width: 200px;
      margin-left: 3rem;
    }

    blockquote {
      width: 66%;
    }
  }
}


blockquote {
  background: lighten(#3CBC98, 47%);
  border-left: 8px solid #3CBC98;
  font-size: 90%;
  padding: 0.66rem;
}

aside {
  background: #303036;
  color: #dedede;
  padding: 20px;

  p {
    margin: 0px;
  }

  p + p {
    margin-top: 10px;
  }

  header {
    font-size: 1.5rem;
  }
}

#archive {
  font-size: 85%;

  ul {
    padding: 0;
    list-style-type: none;

    li {
      margin: 1rem 0%;
    }
  }

  abbr {
    float: right;
  }
}

hr {
  border: 2px solid #3CBC98;
}

.references {
  p {
    text-indent: -1em;
    margin-left: 1em;
  }
}
