@import "colours";

header.topbar {
  background: $background;
  color: $primary-color;
  border-bottom: 3px solid $primary-color;

  @media (prefers-color-scheme: dark) {
    border-bottom: 3px solid lighten($primary-color, 20);
  }

  display: flex;
  justify-content: space-between;

  padding: 10px;

  h1 {
    margin: 0;
    font-size: 20px;
  }

  .items {
    justify-content: flex-end;
  }
}
