// Most of this was cribbed from the ex_doc source
// https://github.com/elixir-lang/ex_doc

header.topbar {
  margin: 0% 20%;
  text-align: center;

  h1 {
    margin-top: 0;
  }

  img {
    max-height: 150px;
    border-radius: 100px;
  }

  .brag {
    color: #999;
  }
}
