@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl mb-4 font-bold;
}

h2 {
  @apply text-3xl mb-4 font-bold;
}

h3 {
  @apply text-2xl mb-4;
}

h4 {
  @apply text-xl mb-4;
}

a {
  @apply text-blue-600 underline dark:text-blue-400;
}

ul {
  @apply list-disc list-inside;
}

p {
  @apply mb-2;
}

select {
  @apply dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
}

.header a {
  @apply no-underline text-blue-900;
}

* {
  box-sizing: border-box;
}

.text-field {
  @apply shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.text-field.has-error {
  @apply border-red-500 border-2;
}

.btn-green {
  @apply bg-white font-bold border-2 py-2 px-4 rounded inline-block text-green-500 border-green-500;
}

a.btn-green {
  @apply no-underline;
}

.submit {
  @apply mt-4 bg-white font-bold border-2 py-2 px-4 rounded inline-block text-blue-500 border-blue-500;
}

.submit:disabled {
  @apply opacity-70 cursor-not-allowed;
}

.card-table {
  @apply mt-4 border;
}

.card img {
  max-height: 40vh;
}

.card-table th {
  @apply bg-gray-500 text-white text-center;
}

.card-table th, .card-table td {
  @apply p-8 border;
}

.card-table img {
  max-height: 40vh;
}

.card-not-found {
  @apply text-gray-500 italic mt-2;
}
