<!DOCTYPE HTML>
<html>
  <head>
    <title>The Life of a Radar - Blog of Ryan Bigg</title>
    <link href="http://feeds.feedburner.com/ryanbigg" rel="alternate" title="The Life of a Radar" type="application/atom+xml" />
    <link rel='stylesheet' href='/css/style.css' media='screen'>
    <link rel='stylesheet' href='/css/mobile.css'>
  <body>
    <h1 align='center'>The Life of a Radar</h1>
    <div id='page'>
      <div id="header">
        <p>Hi there, my parents and friends call me Ryan Bigg, but you may know me as "Radar". Either is fine.</p>
        <p>I'm a technical writer for Ruby / Rails based in Australia. I'm currently writing a book with <a href="http://yehudakatz.com">Yehuda Katz</a> called <a href="http://manning.com/katz">Rails 3 in Action</a>.</p>

        <div id="more">
          <p> If you like what we do, support us by <a href="http://manning.com/katz">buying a copy</a>. You can also <a href="http://ryanbigg.com/feed">subscribe to this blog</a>.</p>
          <p> Occasionally I find some time to write interesting blog posts such as the ones you see below.</p>
          <p>I also have done quite a lot of <a href="http://github.com/radar">open-source work</a> and I <a href="http://twitter.com/ryanbigg">tweet</a>. Find out more <a href="http://ryanbigg.com/about-me">about me</a>.</p> 
        </div>
      </div>
      <header>{{ title }}</header>
      {{ content }}
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-396182-13");
    pageTracker._setDomainName("none");
    pageTracker._setAllowLinker(true);
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>