<!DOCTYPE HTML>
<html>
  <head>
    <title>Blog of Ryan Bigg - {{ page.title }}</title>
    <link href="http://feeds.feedburner.com/ryanbigg" rel="alternate" title="The Life of a Radar" type="application/atom+xml" />
    <link href='http://fonts.googleapis.com/css?family=Buenard' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/style.css' media='screen'>
    <link rel='stylesheet' href='/css/mobile.css'>
    <link rel='stylesheet' href='/css/highlight.css'>
  <body>
    <h1 align='center'><a href='http://ryanbigg.com'>The Life of a Radar</a></h1>
    <div id='post'>
      <article>
        <a href="{{ page.url }}"><header>{{ page.title }}</header></a>
        {{ content }}
      </article>
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4e30f771f5a1f547c8000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>   
  </body>
</html>
