<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include menu.html %}
      <article>
        <a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
        <small>{{ page.date | date_to_string }}</small><br>
        {{ content }}

        <div id='disqus_thread'></div>
      </article>
    </div>

    <script type="text/javascript">
        var disqus_shortname = 'ryanbigg'; // required: replace example with your forum shortname

        var disqus_identifier = '{{page.wordpress_id}} http://ryanbigg.com/?p={{page.wordpress_id}}'
        var disqus_url = 'http://ryanbigg.com{{ page.url }}';
    </script>
    <script src='http://ryanbigg.disqus.com/embed.js'></script>

    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60556315-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
